body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #323232;
    background-color: #E5E5E5;
}
a{
    color: inherit;
}
.container{
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-right{
    padding-right: calc((100% - 1190px) / 2 + 15px );
}
.title {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    color: #57463A;
}
.btn {
    font-size: 16px;
    background-color: #A1B29F;
    display: inline-block;
    width: 245px;
    padding: 18px 10px;
    transition: .3s;
    color: #fff;
    text-align: center;
}
.none{
    display: none;
}
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
/*header*/
.header{
    padding: 30px 0 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav__left{
    max-width: 322px;
    width: 100%;  
}
.nav__right{
    max-width: 266px;
    width: 100%;
}
.logo{
  transform: translateX(-25px);
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link{
    position: relative;
}
.nav__link::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #323232;
    transition: .2s;
}
.nav__link:hover:after{
   width: 100%;
}
.hamb{
    display: none;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
.hamb.clicked .bar.bar:nth-child(2){
    opacity: 0;
  }
.hamb.clicked .bar.bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
.hamb.clicked .bar.bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
.bar{
    display: block;
    width: 68px;
    height: 3px;
    background-color:#57463A;
    transition: 0.5s;
}
.header__box {
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 82vh;
}
.header__img {
   flex-basis: 50%;
}
.header__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__content {
    flex-basis: 50%;
    padding-top: 198px;
    padding-left: 37px;
    padding-right: 15px;
}
.header__content-body{
    max-width: 562px;
}
.header__subtitle {
    font-size: 16px;
    margin-bottom: 17px;
}
.header__title {
    max-width: 514px;
    margin-bottom: 40px;
}
.header__text {
    margin-bottom: 70px;
}
.header__btn {
    margin-bottom: 94px;
}
.btn:hover{
    background-color: #7d8f7b;
}
.header__socials{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    flex-wrap: wrap;
}
.header__socials-link svg{
    transition: .3s;
}
/*brand*/
.brand{
    padding: 160px 0 60px;
}
.brand__title {
    margin-bottom: 100px;
}
.brand__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
}
.brand__item {
    min-height: 68px;
    border-bottom: 3px solid #715B4B;
}
.brand__text {
    max-width: 298px;
    text-align: center;
}
/*products*/
.products{
    padding: 100px 0 60px;
}
.products__title {
    margin-bottom: 100px;
}
.products__box {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   outline: 0.5px solid #000;
}
.products__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 0 50px;
    border: 0.5px solid #000;
    text-align: center;
}
.products__img {
    margin-bottom: 20px;
}
.products__name{
    line-height: 103%;
}
/*family*/
.family{
    padding: 100px 0 60px;
}
.family__title {
    margin-bottom: 100px;
}
.family__box {
    display: flex;
}
.family__img {
   flex-basis: 48.8%;
}
.family__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.family__content {
    padding: 68px 20px 48px 40px;
    background-color:  #EBEEEB;
    flex-basis: 51.2%;
    
}
.family__content-title {
    font-size: 24px;
    line-height: 1.5;
    max-width: 515px;
    margin-bottom: 40px;
    color: #000;
}
.family__content-text {
    max-width: 515px;
    margin-bottom: 30px;
}
.family__btn{
    margin-top: 22px;
}
/*about*/
.about{
    padding: 100px 0 100px;
}
.about__title{
    margin-bottom: 100px;
}
.about__video{
    height: 700px;
    position: relative;
}
.video__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video__clip{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
/*services*/
.services {
    padding: 100px 0 0;
}
.services__title {
    margin-bottom: 100px;
}
.services__box {
    display: flex;
}
.services__img {
    flex-basis: 50%;
}
.services__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services__content {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    padding-left: 41px;  
}
.services__content-inner{
    height: 61%;
}
.services__content--top{
    background-color: #E3DACE;
}
.services__content--bottom{
    background-color:  #D4CDC3;
}
.services__content-title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
}
.services__content-text {
    max-width: 539px;
    margin-bottom: 55px;
}
/*guarantee*/
.guarantee {
    padding: 200px 0 210px;
}
.guarantee__wrap{
    padding: 14px;
    border: 7px solid #A1B29F;
}
.guarantee__inner{
    border: 1px solid #715B4B;
    padding: 92px 10px 38px 95px;
}
.guarantee__title {
    line-height: 1.5;
    max-width: 658px;
    text-align: center;
    margin-bottom: 40px;
    margin: 0 auto; 
}
.guarantee__text {
    max-width: 922px;
    margin: 0 auto; 
}
.guarantee__logo {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: 62px;
}
/*footer*/
.footer {
    padding: 84px 0 239px;
    background-color:  #715B4B;
    color: #F6F6F6;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.footer__inner a{
    position: relative;
}
.footer__inner a:after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F6F6F6;
    transition: .2s;
}
.footer__inner a:hover:after{
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    max-width: 248px;
}
.info__text {
    font-size: 16px;
}
.links {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.about-us {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.confidentiality {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.social-links {
    display: flex;
    column-gap: 18px;
}